.Btn {
    font-size: 16px;
    margin: 10px;
    color: white;
    padding: 15px;
    border-radius: 30px;
    border-color: black;
    border-width: 5px;
}

.cBtn {
    background-color: #00a5ab;
    width: 100px;
}

.ResetBtn {
    background-color: #8422a5;
    width: 150px;
}

.count {
    font-size: 100px;
    padding: 20px;

}